body{
    background: url(../img/papel.jpg);
    background-repeat: repeat;
}
.img{
    border: 3px solid rgb(0, 124, 10);
}
.container{
    justify-content: space-between;
}
.img1{
    text-align: center;
    width: 300px;
}
.img2{
    text-align: center;
    width: 300px;
}
.img3{
    text-align: center;
    width: 300px;
}
.img4{
    text-align: center;
    width: 300px;
}
.img5{
    text-align: center;
    width: 300px;
}
.img6{
    text-align: center;
    width: 300px;
}